.vscode
data
raw_dataset
MLP_simplified_num_classification/model/__pycache__
MLP_simplified_num_classification/model/weight.pt
MLP_simplified_num_classification/dataset/__pycache__
SimPointTrackNet/model/__pycache__
SimPointTrackNet/dataset/__pycache__
SimPointTrackNet/utils/__pycache__
SimPointTrackNet/log