.vscode
data
raw_dataset
work
MLP_simplified_num_classification/model/__pycache__
MLP_simplified_num_classification/model/weight.pt
MLP_simplified_num_classification/dataset/__pycache__
SimPointTrackUNet/model/__pycache__
SimPointTrackUNet/dataset/__pycache__
SimPointTrackUNet/utils/__pycache__
SimPointTrackUNet/log